.photoshop {
    width: 100vw;
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
}

.presentation-photoshop {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.titre-photoshop {
    font-size: 2.9em;
    padding-bottom: 15px;
}

.para-photoshop {
    font-size: 1.2em;
}

.photoshop>div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 70px;
    padding-left: 70px;
}

.images {
    display: flex;
}

.images>div {
    display: flex;
    flex: 1 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-photoshop {
    transition: filter 0.5s;
    aspect-ratio: 1/1;
    width: 60%;
    border-radius: 5px;
}

.tp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.title-photoshop {
    transition: opacity 0.5s;
    color: white;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    opacity: 0;
}

.p-photoshop {
    transition: opacity 0.5s;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    opacity: 0;
}

.images>div:hover .title-photoshop,
.images>div:hover .p-photoshop {
    opacity: 1;
}

.images>div:hover .img-photoshop {
    filter: brightness(25%);
}


@media screen and (max-width: 992px) {

    .images {
        flex-direction: column;
        gap: 30px;
    }
    .img-photoshop {
        width: 100%;
    }
}